<h1>Employee Details</h1>
<hr>
<div class="form-group row">
    <label class="col-sm-4 col-form-label">Name</label>
    <div class="col-sm-6">
      <input type="text" readonly class="form-control-plaintext" value="{{employeeDetails.employee_FirstName}}">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-4 col-form-label">Designation</label>
    <div class="col-sm-6">
      <input type="text" readonly class="form-control-plaintext" value="{{employeeDetails.designation_Description}}">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-4 col-form-label">Salary</label>
    <div class="col-sm-6">
      <input type="text" readonly class="form-control-plaintext" value="{{employeeDetails.salary_Amount}}">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-4 col-form-label">Reporting To</label>
    <div class="col-sm-6">
      <input type="text" readonly class="form-control-plaintext" value="{{employeeDetails.employee_ReportingTo}}">
    </div>
  </div>




